.back-btn{
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    cursor: pointer;
     display: flex;
        align-items: center;
        gap: 10px;
        background: #e5ebf4;
        font-size: 0.9rem;
        font-weight: 500;
        svg{
            font-size: 1.2rem;
        }
}