.farm-select-page {
    width: 100%;
    height: 100vh;
    color: #000;

    .farm-header {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo-con {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 10px;


            .logo {
                width: 80px;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            span {
                font-size: 1.2rem;
                font-weight: 600;
                color: #4B563D;
                text-transform: uppercase;
            }
        }
    }


    .farm-select-inner {
        width: 80%;
        // border: 1px solid rgb(148, 170, 188);
        border-radius: 1rem;
        padding: 2rem;
        margin: 2rem auto;

        h2 {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }

        p {
            font-size: 1.1rem;
            width: 100%;
            text-align: center;
        }

        .farm-select-grid {
            margin-top: 4rem;

            .farm-select-grid-btns {
                width: 40%;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;


                .farm-select-btn {
                    width: fit-content;
                    height: fit-content;
                    padding: 0.6rem 2rem;
                    background: var(--muted);
                    border-radius: 1rem;
                    font-weight: 500;
                    transition: all ease-in-out 0.6s;
                    cursor: pointer;

                    &:hover {
                        background: var(--btn-hover);
                    }

                    &.selected {
                        background: var(--btn-hover);

                    }

                }



            }


            .farm-select-grid-content {
                width: 100%;
                margin-top: 3rem;


                .grid-content {
                    display: flex;
                    gap: 1.2rem;
                    // justify-content: space-between;
                    flex-wrap: wrap;

                }


                .farm {
                    width: 32%;
                    height: 45vh;
                    border: 1px solid rgb(148, 170, 188);
                    margin-bottom: 2rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    font-size: 1.2rem;
                    font-weight: 500;

                    &:hover {
                        background: rgb(114, 170, 215);

                    }

                    .farm-img {
                        width: 100%;
                        height: 70%;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 0.5rem 0.5rem 0 0;

                        }


                    }

                    .farm-name {
                        font-size: 1rem;
                        padding: 1rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 1rem;

                        svg {
                            font-size: 2rem;
                        }

                    }





                }

                .store {
                    width: 32%;
                    height: 15vh;
                    border: 1px solid rgb(148, 170, 188);
                    margin-bottom: 2rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    font-size: 1.2rem;
                    font-weight: 500;
                    padding: 1rem;


                    &:hover {
                        background: rgb(114, 170, 215);

                    }

                    .store-img {
                        width: 100%;
                        // height: 70%;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 0.5rem 0.5rem 0 0;

                        }

                        svg {
                            font-size: 2rem;
                            fill: rgb(34, 113, 178);
                        }


                    }

                    .store-name {
                        font-size: 1rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 1rem;

                        svg {
                            font-size: 2rem;
                        }

                    }



                }


            }



        }



    }

}